body, html {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container{
    border: 1px white solid;
    background-color: black;
    color: white;
    width: 613px;
}